main>p {
    border:0.5px;
    color:rgba(0, 0, 0, 0.549);
}
header {
    background: url("Frame 23.png");
    background-size: 100% 100%;
}
.foto {
    justify-content:center;
    animation-name:foto1;
    animation-duration:300MS;
    animation-iteration-count:infinite;
    animation-delay:2S;
    animation-fill-mode:backwards;
    animation-direction:alternate;
    animation-play-state:easy-in;
}
.head {
    color:rgb(203, 192, 192);
}
.sambo {
    align-items:flex-end;
    border-radius: 7px;

}
footer {
    background-image:url("Frame 16.png") ;
    border-radius: 9px;
    background-size: 100% 100%;
}
article {
    display: flex;
    justify-content: center;
}
.sambist {
    justify-content: center;
}
.box {
    display: flex;
    flex-direction: column;
}
.foot {
    display: flex;
    flex-direction: column-reverse;
}
.wrestling {
    display: flex;
    justify-content: end;
}
@keyframe foto1 {
    0% {
    transform:scale(0);
    }
33%{
        transform:scale(2);
        transform:rotateY(3turn) translate(-75);
        background-color:GREEN;
}
66%{
    transform:scale(1);
        transform:rotateY(2turn) translate(75);
        background-color:GREEN;
}
100%{
transform:scale(0);
}
}
    


